<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @property.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Map:</strong>
  <%= @property.map %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @property.pictures %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
