<p id="notice"><%= notice %></p>
<div class='centered'>
  <main>
    <h1>
      <%= @property.title %>
    </h1>
    <div class='breadcrumbs'>
      <span>Icon > </span>
      <span> State > </span>
      <span> <%= @property.kind_of_property %> > </span>
      <span> City</span>
    </div>
    <div class='pictures'>
      <figure>
        <img src='https://thumb.housinganywhere.com/v2/images/room/1496236/9c9d26ed-148e-41ca-87ec-97ebdd4fdd9e.jpg?nocrop=1&rotate=0&kind=large-retina'>
      </figure> 
      <figure>
        <img src='https://thumb.housinganywhere.com/v2/images/room/1496236/9c9d26ed-148e-41ca-87ec-97ebdd4fdd9e.jpg?nocrop=1&rotate=0&kind=large-retina'>
      </figure>
      <figure>  
        <img src='https://thumb.housinganywhere.com/v2/images/room/1496236/9c9d26ed-148e-41ca-87ec-97ebdd4fdd9e.jpg?nocrop=1&rotate=0&kind=large-retina'>
      </figure> 
      <figure> 
        <img src='https://thumb.housinganywhere.com/v2/images/room/1496236/9c9d26ed-148e-41ca-87ec-97ebdd4fdd9e.jpg?nocrop=1&rotate=0&kind=large-retina'>
      </figure>
      <figure> 
        <div class='more-images-cover'>
        <p>6 more photos available</p>
        </div> 
        <img src='https://thumb.housinganywhere.com/v2/images/room/1496236/9c9d26ed-148e-41ca-87ec-97ebdd4fdd9e.jpg?nocrop=1&rotate=0&kind=large-retina'>
      </figure>
    </div>
    <div class='details-buttons'>
      <button>11 photos</button>
      <button>map</button>
    </div>
  </main>
  <aside>
  <div class='description listing-section'>
    <h3>Property's features</h3>
    <p>Take a look at this property's best features</p>
      <ul class="property-features-list">
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/surface.png"/><strong> 115 m2</strong></li>
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/cat-footprint.png" alt="paw icon"/><strong>  Pet Friendly</strong></li>
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/washing-machine.png"/><strong> Washing Machine</strong></li>
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/outdoor-swimming-pool.png"/><strong> Swimming Pool</strong></li>
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/parking.png"/><strong> Garage</strong></li>
        <li class="property-features-list-item"><img src="https://img.icons8.com/officel/80/000000/cooling.png"/><strong> Air-conditioner</></strong></li>
      </ul>
      </div>
      <hr>
      <div>
    <h3>Description</h3> 
    <p><%= @property.description%></p>
    </div>
    <hr>
    <div class='facilities listing-section'>
    <h3>Details</h3>
      <div class='facility-item'>
        <strong>
        Bedroom
        </strong>
        <ul>
          <li>
          Number of bedrooms: <span>2</span>
          </li>
          <li>
          Bedroom furnished
          </li>
          <li>
          Lock on bedroom 
          </li>
        </ul>
      </div>
      <div class='facility-item'>
        <strong>
        Areas
        </strong>
        <ul>
          <li>
          Kitchen: <span>Private</span>
          </li>
          <li>
          Bathroom: <span>Private</span>
          </li>
          <li>
          Toilet: <span>Private</span>
          </li>
          <li>
          Living room: <span>Private</span>
          </li>
          <li>
          Balcony/Terrace
          </li>
          <li>
          Garden
          </li>
          <li>
          Basement
          </li>
          <li>
          Parking
          </li>
          <li>
          Wheelchair accessible
          </li>
          <li>
          Allergy friendly
          </li>
        </ul>
      </div>
    </div>
      <hr>
    <div class='preferred-tenant listing-section'>
      <h3>Preferred tenant</h3>
      <ul>
        <li>Age: <span>No preference</span></li>
        <li>Gender: <span>No preference</span></li>
        <li>Tenant type: <span>No preference</span></li>
        <li>Suitable for couples: <span>No preference</span></li>
      </ul>
      <hr>
    </div>
    <div class='availability listing-section'>
      <h3>Availability</h3>
      <time>16/03/2020</time>
      <hr>
    </div>
    <div class='conditions listing-section'>
      <h3>Rental conditions</h3>
      <ul>
        <li>First month's rent<span>€1750 +€250 (One time service fee)</span></li>
        <li>including HousingAnywhere fee</span></li>

        <li>Monthly rent<span>€1750</span></li>
        <li>Paid later to the advertiser</span></li>

        <li>Bills<span>Water: not included</span></li>
        <li><span>Gas: included</span></li>
        <li><span>Electricity: included</span></li>
        <li><span>Internet: not included</span></li>

        <li>Estimated bills<span>€125</span></li>
      </ul>
      <hr>
    </div>

    <div class='landlord listing-section'>
      <div class='landlord-card'>
        <div class='landlord-face'>
          <img src=''>
          <strong>
            <%= @property.landlord.first_name %>
          </strong>
          <p>Last seen today</p>
        </div>
        <div class='landlord-verified'>
          <p>Phone number verified</p>
          <p>Email verified</p>
        </div>
      </div>
      <div class='landlord-info'>
        <h3>
          <%= @property.landlord.first_name %>
        </h3>
        <p>Response rate: 100%</p>
        <p>Response time: within a few hours</p>
        <div class='landlord-meta'>
          <p>Member since April 2019</p>
          <p>2 lisitngs</p>
        </div>
      </div>      
    </div>
  </aside>
  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
  <section class='more-properties'>
    <h3>Similar places in City</h3>

    <button class='btn btn-primary'>Find more places in City</button>
  </section>
  <p>
</p>
<!--
<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Map:</strong>
  <%= @property.map %>
</p>

<p>
  <strong>Pictures:</strong>
  <% @property.prop_images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>
-->
</div>

